body{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: min(max(18px, 6vw), 30px);
}
h2{
    font-size: min(max(15px, 5vw), 25px);
}
h3{
    font-size: min(max(14px, 4vw), 20px);
}
p{
    font-size: min(max(13px, 4vw), 15px);
}

.selPage{
    background-color: rgb(69, 20, 119);
}

#selPage{
    background-color: rgb(69, 20, 119);
}

.top-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropdown-btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: min(max(15px, 5vw), 25px);
    color: white;
    padding: 15px;
}

li.dropdown{
    display: inline-block;
}

li:hover{
    background-color: rebeccapurple;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: min(max(14px, 4vw), 20px);
    background-color: rebeccapurple;
    -webkit-tap-highlight-color: transparent;
}

.dropdown-content a{
    display: block;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(69, 20, 119);
}

.maintext{
    margin: 5px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rebeccapurple;
    padding: 15px;
}

.maintext a{
    color: #333;
}

.footer, a{
    color: white;
    text-align: center;
}
